-e .

# General test libraries
tox==2.9.1
pytest==3.3.0
pytest-django==3.1.2
pytest-isort==0.1.0

tzlocal==1.5.1

# Pep8 and code quality checkers
flake8==3.5.0
pytest-cov==2.5.1
coverage==4.2

# Fixtures, test helpers
factory-boy==2.7.0
mock==2.0.0

# General dependencies
django==1.10.3

# Imap utilities
dnspython3==1.12.0
imapclient==1.0.2

# For async worker support
celery==4.0.0

# i18n/l10n,
babel==2.3.4
django-babel==0.5.1

# For our REST Api
djangorestframework==3.5.3
PyJWT==1.4.2
requests==2.9.1
urllib3==1.19.1
requests-toolbelt==0.7.0

# For proper timezone support.
pytz==2016.7

# Charset detection
chardet==2.3.0

# Docs requirements
sphinx==1.4.8
sphinx_rtd_theme

# Postgresql
psycopg2==2.7.3.2

# Redis
redis==2.10.5
